= simple_form_for(@design) do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :name
    = f.input :default

  %h2 Sides
  #sides
    = f.simple_fields_for :sides do |side|
      = render 'side_fields', f: side

  .form-actions
    = link_to_add_association 'Add Side', f, :sides, class: 'btn btn-default'
    = f.button :submit, class: 'btn btn-default'
    = content_for :buttons