.nested_fields.row
  = f.input :order, wrapper_html: { class: 'col-xs-2' }
  = f.input :margin, wrapper_html: { class: 'col-xs-2' }
  = f.input :orientation, wrapper_html: { class: 'col-xs-2' }
  = f.input :width, wrapper_html: { class: 'col-xs-2' }
  = f.input :height, wrapper_html: { class: 'col-xs-2' }
  %div.col-xs-2= link_to_remove_association "remove", f, class: 'btn btn-default'
