%h1= @design.name
- @design.sides.each do |s|
  %h2= "Side #{s.order}"
  %ul
    %li= "Orientation: #{s.orientation}"
    %li= "Margin: #{s.margin}"
    %li= "Width: #{s.width}"
    %li= "Height: #{s.height}"
  %h3 Artifacts
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Order
        %th Description
        %th Value
        %th Properties
    %tbody
      -s.artifacts.each do |a|
        %tr
          %td= a.name
          %td= a.order
          %td= a.description
          %td= a.value
          %td
            - a.properties.each do |p|
              .property= "#{p.name}: #{p.value}"

= link_to 'Edit', edit_design_path(@design), class: "btn btn-default"
= link_to 'Back', designs_path, class: "btn btn-default"
