= simple_form_for @badge do |f|
  = f.error_notification
  = f.input :first_name, options
  = f.input :last_name, options
  = f.input :department, options
  = f.input :title, options
  = f.input :employee_id, { label: 'Employee ID' }.merge(options)
  = f.hidden_field :dn, label: 'AD Distinguished Name', title: 'required for updating thumbnail in AD'
  = f.button :submit, "Next >", class: 'btn btn-primary' if @badge.new_record?
