- if @badge.new_record?
  .lookup-form
    = simple_form_for :lookup, url: lookup_url(format: :json), remote: true, html: { class: "form-inline lookup-form" } do
      .form-group
        %label{for: "employee_id"} Employee ID
        %input.form-control.required{type: "text", name: "id", id: "employee_id"}
        %button.btn.btn-default.lookup-employee
          %i.fa.fa-search
          Lookup
    .lookup-status

= simple_form_for @badge do |f|
  = f.error_notification
  = f.input :first_name
  = f.input :last_name
  = f.input :department
  = f.input :title
  = f.input :employee_id, label: 'Employee ID'
  = f.hidden_field :dn, label: 'AD Distinguished Name', title: 'required for updating thumbnail in AD'
  = f.button :submit, "Next >", class: 'btn btn-primary' if @badge.new_record?
