<h1>New Badge</h1>

<div class="row">
  <div class="col-xs-6 col-sm-4">
    <%= simple_form_for @badge do |f| %>
      <%= f.input :name, input_html: { readonly: :readonly } %>
      <%= f.input :department, input_html: { readonly: :readonly } %>
      <%= f.input :title, input_html: { readonly: :readonly } %>
      <%= f.input :employee_id, label: 'Employee ID', input_html: { readonly: :readonly } %>
      <%= f.hidden_field :dn, label: 'AD Distinguished Name', title: 'required for updating thumbnail in AD' %>
    <% end %>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div id="camerabox">
      <div id="camera"></div>
      <button class="btn btn-primary take-snapshot" onclick="takeSnapshot()">Take</button>
      <button class="btn btn-default retake-snapshot hidden" onclick="discardSnapshot()">Retake</button>
      <button class="btn btn-primary use-snapshot hidden" onclick="useSnapshot()" data-url="<%= snapshot_badge_url(@badge)%>">Use</button>
      <div id="upload_response"></div>
    </div>
    <div id="cropbox" class="hidden">
      <img/>
      <button class='btn btn-primary retake2-snapshot' onclick="discardSnapshot()">Retake</button>
      <button class='btn btn-primary crop-snapshot' onclick="cropSnapshot()" data-url="<%= crop_badge_url(@badge, format: :json)%>">Crop</button>
    </div>
  </div>
</div>
<%= link_to "Print", print_badge_url(@badge), class: 'btn btn-primary print-card hidden' %>

<script>
  $(document).ready(startCamera);
  $(document).on('page:load', startCamera);
</script>
