<h1>New Badge</h1>

<div class="row">
  <div class="col-xs-6 col-sm-4">
    <%= simple_form_for @badge do |f| %>
      <%= f.input :name, input_html: { readonly: :readonly } %>
      <%= f.input :department, input_html: { readonly: :readonly } %>
      <%= f.input :title, input_html: { readonly: :readonly } %>
      <%= f.input :employee_id, label: 'Employee ID', input_html: { readonly: :readonly } %>
    <% end %>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div id="camera"></div>
    <button class="btn btn-primary take-snapshot" onclick="takeSnapshot()">Take</button>
    <button class="btn btn-default discard-snapshot hidden" onclick="discardSnapshot()">Retry</button>
    <button class="btn btn-primary use-snapshot hidden" onclick="useSnapshot()" data-url="<%= snapshot_badge_url(@badge)%>">Use</button>
    <div id="upload_response"></div>
  </div>
</div>
<%= link_to "Print", print_badge_url(@badge), class: 'btn btn-primary' %>

<script>
  $(document).ready(startCamera);
  $(document).on('page:load', startCamera);
</script>
