%h1 Badges

%table.table.table-striped
  %thead
    %tr
      %th Employee Id
      %th Name
      %th Title
      %th Department
      %th Created
      - if ENV["USE_LDAP"] == "true"
        %th{title: 'Active Directory thumbnail updated?'} AD
      %th
  %tbody
    - @badges.each do |badge|
      %tr
        %td
          = badge.employee_id
          - if badge.picture.blank?
            %span.label.label-warning.label-as-badge
              no photo
          - elsif badge.card.blank?
            %span.label.label-warning.label-as-badge
              no card
        %td= link_to badge.name, badge
        %td= badge.title
        %td= badge.department
        %td= l(badge.created_at.localtime, format: :short)
        - if ENV["USE_LDAP"] == "true"
          %td= (badge.update_thumbnail.blank? || badge.update_thumbnail == false ? '' : 'Y')
        %td
          = link_to 'Delete', badge, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' if !current_user.nil? && current_user.has_role?(:admin)

= will_paginate @badges, renderer: BootstrapPagination::Rails

.form-actions
  = link_to 'New Badge', new_badge_path, class: 'btn btn-default'
