<h1>Badges</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Title</th>
      <th>Department</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= badge.employee_id %></td>
        <td><%= link_to badge.name, badge %></td>
        <td><%= badge.title %></td>
        <td><%= badge.department %></td>
        <td>
        <%= link_to 'Delete', badge, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' if !current_user.nil? && current_user.has_role?(:admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Badge', new_badge_path, class: 'btn btn-primary' %>
