<h1>Badge</h1>

<div class="row">
  <div class="col-xs-6 col-sm-4">
    <%= simple_form_for @badge do |f| %>
      <%= f.input :first_name, input_html: { readonly: :readonly } %>
      <%= f.input :last_name, input_html: { readonly: :readonly } %>
      <%= f.input :department, input_html: { readonly: :readonly } %>
      <%= f.input :title, input_html: { readonly: :readonly } %>
      <%= f.input :employee_id, label: 'Employee ID', input_html: { readonly: :readonly } %>
      <%= f.hidden_field :dn, label: 'AD Distinguished Name', title: 'required for updating thumbnail in AD' %>
    <% end %>
  </div>
  <div class="col-xs-6 col-sm-4">
    <% unless @badge.card.blank? %>
      <div class="card-preview">
        <img src="<%= @badge.card.url(:preview) %>" />
      </div>
    <% end %>
  </div>
</div>

<%= link_to print_badge_url(@badge), class: 'btn btn-primary' do %>
  <i class="fa fa-printer"></i> Print
<% end %>
<% if current_user.has_role?(:admin) %>
  <%= link_to generate_badge_url(@badge), class: 'btn btn-default' do %>
    <i class="fa fa-refresh"></i> Generate
  <% end %>
<% end %>

<%= link_to 'List Badges', badges_path, class: 'btn btn-default' %>
