<h1>Badge</h1>

<div class="row">
  <div class="col-xs-6 col-sm-4">
    <%= simple_form_for @badge do |f| %>
      <%= f.input :name, input_html: { readonly: :readonly } %>
      <%= f.input :department, input_html: { readonly: :readonly } %>
      <%= f.input :title, input_html: { readonly: :readonly } %>
      <%= f.input :employee_id, label: 'Employee ID', input_html: { readonly: :readonly } %>
      <%= f.hidden_field :dn, label: 'AD Distinguished Name', title: 'required for updating thumbnail in AD' %>
    <% end %>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div id="preview">
      <img src="<%= @badge.card.url(:preview) %>" />
    </div>
  </div>
</div>
<%= link_to "Print", print_badge_url(@badge, remote: true), class: 'btn btn-primary' %>

<%= link_to 'Back', badges_path, class: 'btn btn-default' %>
