= simple_form_for(@property) do |f|
  = f.error_notification
  
  .form-inputs
    = f.association :artifact, wrapper_html: { class: 'col-xs-4' }
    = f.input :name, wrapper_html: { class: 'col-xs-4' }
    = f.input :value, wrapper_html: { class: 'col-xs-4' }

  .form-actions
    = f.button :submit, class: 'btn btn-default'
    = content_for :buttons