%h3 Artifacts
- if side.artifacts.blank?
  = link_to "No artifacts exist yet.  Click here to add some.", edit_side_url(side)
- else
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Name
        %th Order
        %th Description
        %th Value
        %th Properties
    %tbody
      -side.artifacts.each do |a|
        %tr
          %td= link_to a.name, edit_artifact_path(a)
          %td= a.order
          %td= a.description
          %td= a.value
          %td
            - if a.properties.present?
              %ul.props
                - a.properties.each do |p|
                  %li
                    %span= "#{p.name}:"
                    = "#{p.value}"
