<h1>Sides</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Design</th>
      <th>Order</th>
      <th>Orientation</th>
      <th>Margin</th>
      <th>Width</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sides.each do |side| %>
      <tr>
        <td><%= side.design.name %></td>
        <td><%= side.side_name %></td>
        <td><%= side.orientation %></td>
        <td><%= side.margin %></td>
        <td><%= side.width %></td>
        <td><%= side.height %></td>
        <td><%= link_to 'Show', side %></td>
        <td><%= link_to 'Edit', edit_side_path(side) %></td>
        <td><%= link_to 'Destroy', side, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Side', new_side_path, class: "btn btn-default" %>
<%= link_to 'Designs', designs_path, class: "btn btn-default" %>
