= simple_form_for(@artifact) do |f|
  = f.error_notification

  .form-inputs
    = f.association :side, label_method: :name, wrapper_html: { class: 'col-xs-6 col-sm-4' }
    = f.input :order, wrapper_html: { class: 'col-xs-6 col-sm-2' }
    = f.input :name, wrapper_html: { class: 'col-xs-6 col-sm-2' }
    = f.input :value, wrapper_html: { class: 'col-xs-6 col-sm-4' }
    = f.input :description, wrapper_html: { class: 'col-xs-12' }
    = f.input :attachment, as: :file

  %h2 Properties
  #properties
    = f.simple_fields_for :properties do |property|
      = render 'property_fields', f: property

  .form-actions
    = link_to_add_association 'Add Property', f, :properties, class: 'btn btn-default'
    = f.button :submit, class: 'btn btn-default'
    = content_for :buttons
