<h1>Artifacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Side</th>
      <th>Name</th>
      <th>Order</th>
      <th>Description</th>
      <th>Value</th>
      <th>Properties</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to artifact.side.name, artifact.side %></td>
        <td><%= link_to artifact.name, artifact %></td>
        <td><%= artifact.order %></td>
        <td><%= artifact.description %></td>
        <td><%= artifact.value %></td>
        <td>
          <ul class="props">
            <% artifact.properties.each do |p| %>
              <li><%= link_to "#{p.name}: #{p.value}", edit_property_path(p) %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'Edit', edit_artifact_path(artifact) %>
          <%= link_to 'Copy Prior Props', copy_props_artifact_path(artifact) %>
          <%= link_to 'Delete', artifact, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artifact', new_artifact_path, class: "btn btn-default" %>
<%= link_to 'Sides', sides_path, class: "btn btn-default" %>
<%= link_to 'Designs', designs_path, class: "btn btn-default" %>