%h1 Artifacts

%table.table.table-striped
  %thead
    %tr
      %th Side
      %th Name
      %th Order
      %th Description
      %th Value
      %th Properties
      %th
  %tbody
    - @artifacts.each do |artifact|
      %tr
        %td= link_to artifact.side.name, artifact.side
        %td= link_to artifact.name, artifact
        %td= artifact.order
        %td= artifact.description
        %td= artifact.value
        %td
          %ul.props
            - artifact.properties.each do |p|
              %li= link_to "#{p.name}: #{p.value}", edit_property_path(p)
        %td
          = link_to 'Copy Prior Props', copy_props_artifact_path(artifact), class: 'btn btn-xs btn-default'
          = link_to "Edit", edit_artifact_path(artifact), class: 'btn btn-xs btn-default'
          = link_to 'Delete', artifact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'

= will_paginate @artifacts, renderer: BootstrapPagination::Rails

.form-actions
  = link_to 'New Artifact', new_artifact_path, class: "btn btn-default"
  = link_to 'Sides', sides_path, class: "btn btn-default"
  = link_to 'Designs', designs_path, class: "btn btn-default"
