<p>
  <strong>Design:</strong>
  <%= link_to @artifact.side.design.name, @artifact.side.design %>
</p>

<p>
  <strong>Side:</strong>
  <%= link_to @artifact.side.side_name, @artifact.side %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artifact.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @artifact.order %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artifact.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @artifact.value %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @artifact.logo.url unless @artifact.logo.blank? %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @artifact.properties.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_artifact_path(@artifact), class: "btn btn-default" %>
<%= link_to 'New Property', new_property_path, class: "btn btn-default" %>
<%= link_to 'Back', artifacts_path, class: "btn btn-default" %>
