<!DOCTYPE html>
<html>
<head>
  <title>Badger</title>
  <%= favicon_link_tag 'badger.ico' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <div class="container-fluid">
    <% flash.each do |type, content| %>
      <% # only show flashes of certain types since devise uses the flash for other stuff and we dont want it showing here
        if %w(notice alert danger warning error).include?(type.to_s.downcase) 
        %>
        <% if content.respond_to?('each') 
            content.each do |item| %>
                <%= render 'layouts/alert', 
                    type: type,
                    content: item %>
            <% end %>
        <% else %>
            <%= render 'layouts/alert', 
                    type: type,
                    content: content %>
        <% end %>
      <% else %>
        <!-- layout ignored unhandled flash of type <%= type.to_s %> -->
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
